#navBar {
    background-color: lightblue;
    overflow: hidden;
    height: 40px;
    width: 100%;
    top: 0%;
    opacity: 0.6;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    /* display: flex;
    justify-content: space-evenly */
}

#companyName {
  font-size: 30px;
  border: 2px solid black;
}

#productsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}